<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actividad del usuario</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url("https://img.freepik.com/vector-premium/fondo-vector-monocromo-blanco-abstracto-folleto-diseno-folleto-sitio-web-fondo-pantalla-blanco-geometrico-pagina-inicio-presentacion-certificado_249611-5905.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h3 class="mb-0">Actividad del usuario {{ usuario.nombre }}</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>ID de la Puerta</th>
                                    <th>Ubicación de la Puerta</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for actividad in actividades %}
                                    <tr>
                                        <td>{{ actividad.fecha }}</td>
                                        <td>{{ actividad.puerta.id }}</td>
                                        <td>{{ actividad.puerta.ubicacion }}</td>
                                        <td>{{ actividad.accion }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <a href="{% url 'mi_admin:lista_usuarios' %}" class="btn btn-secondary">Volver a la lista de usuarios</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
