<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar usuario</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url("https://img.freepik.com/vector-premium/fondo-vector-monocromo-blanco-abstracto-folleto-diseno-folleto-sitio-web-fondo-pantalla-blanco-geometrico-pagina-inicio-presentacion-certificado_249611-5905.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Editar usuario</h3>
                </div>
                <div class="card-body">
                    {% if mensaje %}
                    <div class="alert alert-info">
                        {{ mensaje }}
                    </div>
                    {% endif %}

                    <form action="{% url 'mi_admin:editar_usuario' usuario.pk %}" method="post">
                        {% csrf_token %}
                        {{ formulario.as_p }}  <!-- Mostrar el formulario con los campos como párrafos -->
                        
                        <div class="text-center mt-4">
                            <input type="submit" value="Guardar cambios" class="btn btn-success">
                            <a href="{% url 'mi_admin:lista_usuarios' %}" class="btn btn-secondary">Volver a la lista de usuarios</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
