<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   <!-- <style>
        body {
            background-image: url("https://c28c141c20.cbaul-cdnwnd.com/909d1852bb98fbb0656c4a68a77a14d4/200000009-b7fbeb8fd3/Tecsup%20Campus%20Arequipa%201.jpg?ph=c28c141c20");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style> -->
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Lista de usuarios</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.correo }}</td>
                            <td>{{ usuario.rol }}</td>
                            <td>
                                <a href="{% url 'mi_admin:editar_usuario' usuario.pk %}" class="btn btn-primary btn-sm">Editar</a>
                                <a href="{% url 'mi_admin:eliminar_usuario' usuario.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                                <a href="{% url 'mi_admin:actividad_usuario' usuario.pk %}" class="btn btn-secondary btn-sm">Ver actividad</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'mi_admin:nuevo_usuario' %}" class="btn btn-success">Agregar nuevo usuario</a>
            <a href="{% url 'mi_admin:pagina_principal' %}" class="btn btn-info">Ir a la página principal</a>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
